/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  /* Ejemplo: Agregamos el color corporativo del doctor */
  --color-medico-primary: #0ea5e9;
  --color-medico-dark: #0369a1;

  /* Ejemplo: Tipografía */
  --font-display: 'Roboto', sans-serif;
}

/* Ocultar scrollbar pero mantener funcionalidad */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
